.site-content {
  background-color: #ffffff;

  .content-area {
    background-color: #ffffff;
    // border-right: 1px solid #e1e1e1;
  }
}
.site-main {
}

//side bar
.site-content {
  .widget-area {
    background-color: #ffffff;
  }
}
.caixaalta {
  font-weight: bold;
  color: #2f1339;
}
.heavy {
  font-weight: bold;
}
