.site-content {
  background-color: #ffffff;

  .p {
    font-family: 'Merriweather Web';
    font-size: 16px;
  }
  .form {
    color: #2f1339;
    font-family: 'Novecento Sans Web';
  }

  .content-area {
    background-color: #ffffff;
    font-family: 'Novecento Sans Web';
    font-size: 19px;
    line-height: 1.75;
  }

  .required {
    color: #d99054;
  }
}

//----------SIDE BAR------------//

.site-content {
  .widget-area {
    background-color: #ffffff;
    border-left: 1px solid #e1e1e1;
    font-family: 'Merriweather Web';
    font-size: 16px;
    line-height: 1.75;
  }

  .fas {
    font-size: 14px;
    padding: 5px;
  }
}
.caixaalta {
  font-weight: bold;
  color: #2f1339;
  font-family: 'Novecento Sans Web';
  font-size: 19px;
  letter-spacing: 2px;
}
.heavy {
  font-weight: bold;
}
