.page-id-72 {
  .site-content {
    background-color: #ffffff;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
    padding-top: 57px;

    .entry-content {
      background-color: #ffffff;
      font-family: 'Novecento Sans Web';
      font-size: 19px;
      padding-right: 5%;
      padding-top: 5%;
      padding-bottom: 5%;
      margin: 0;
      h1 {
        margin-block-end: 0;
        margin-block-start: 0;
        margin-bottom: 8px;
      }
      // width: 73%;
      // margin: 3rem auto;
    }
    .widget-area {
      padding-left: 3%;
      padding-top: 4%;
      padding-bottom: 5%;
    }
    .p {
      font-family: 'Merriweather Web';
      font-size: 16px;
    }
    .form {
      color: #2f1339;
      font-family: 'Novecento Sans Web';
    }
    .required {
      color: #d99054;
    }
  }
}
//----------SIDE BAR------------//

.site-content {
  .widget-area {
    background-color: #ffffff;
    border-left: 1px solid #e1e1e1;
    font-family: 'Merriweather Web';
    font-size: 16px;
    line-height: 1.75;
    padding-left: 3%;
    padding-top: 4%;
    padding-bottom: 5%;

    .widget-title,
    ul {
      margin: 0;
      list-style-type: none;
      padding-inline-start: 0;
      li,
      a {
        text-decoration: none;
      }
    }
    .day-of-week {
      font-weight: bold;
    }
    p {
      margin-block-end: 0.7rem;
      margin-block-start: 0.7rem;
    }
    h2 {
      letter-spacing: 0.1rem;
    }
  }
  .contact {
    padding-bottom: 1.7rem;

    a {
      text-decoration: none;
    }
  }

  .fas {
    font-size: 14px;
    margin-right: 8px;
  }
}
.heavy {
  font-weight: bold;
}
