.site-footer {
  color: #ffffff;
  padding: 1.5rem;
  height: 350px;

  .footer-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
  }
  .block {
    width: 300px;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .block3 {
    display: flex;
    width: 50%;
    justify-content: flex-end;

    .logofooter {
      width: 300px;
      margin-top: 1rem;
      text-align: right;
    }
  }
  .footer-info {
    color: #ffffff;
    text-decoration: none;
  }

  p {
    line-height: 1.7;
    margin: 0;
    margin-bottom: 0.5rem;
    .span {
      font-weight: bold;
    }
  }
  .email,
  .phone {
    text-decoration: none;
    &:hover {
      text-decoration: blueviolet;
    }
  }

  .fab {
    padding: 0.3rem;
  }
  .medias {
    margin-top: 10px;
  }
}

.copyright {
  p {
    font-family: 'Novecento Sans Web';
    font-size: 16px;
    line-height: 1.75;
    text-align: center;
    margin-top: 4rem;
  }
}
