.blog {
  .content-area {
    padding-right: 5%;
    padding-top: 5%;
    margin: 0;
    padding-bottom: 4rem;
    .site-main {
      img {
        width: 1500px;
      }
    }
    .journal-content {
      position: relative;

      h2,
      .journal-date {
        position: absolute;
        background: #248a83;
        margin: 0;
        color: #fff;
        padding: 0.3rem 0.5rem;

        a {
          color: #fff;
          text-decoration: none;
          &:hover {
            color: #f0e4d1;
          }
        }
      }

      h2 {
        left: 0;
        top: 50px;
        font-size: 33px;
        max-width: 75%;
      }

      .journal-date {
        right: 0;
        bottom: 7px;
        text-transform: uppercase;
      }
    }
  }
  .button-journal {
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    border: 1px solid #000;
    padding: 7px 17px 7px 17px;
    font-size: 0.9rem;
    &:hover {
      background-color: #248a83;
      color: #fff;
      border: none;
    }
  }
  .widget-area {
    padding-left: 3%;
    padding-top: 5%;
  }
}
// single page

.single-post {
  .content-area {
    padding-right: 5%;
    padding-top: 5%;
    // margin: 0;
    padding-bottom: 4rem;
    .site-main {
      img {
        width: 1500px;
      }
    }
    .journal-content {
      position: relative;

      h2,
      .journal-date {
        position: absolute;
        background: #248a83;
        margin: 0;
        color: #fff;
        padding: 0.3rem 0.5rem;
      }

      h2 {
        left: 0;
        top: 50px;
        font-size: 33px;
        max-width: 75%;
      }

      .journal-date {
        right: 0;
        bottom: 7px;
        text-transform: uppercase;
      }
    }
    .post-info {
      display: flex;
      p {
        padding-right: 1rem;
        text-transform: uppercase;
        font-family: 'Novecento Sans Web';
        a {
          text-decoration: none;
        }
      }
    }
  }
  .social {
    .social-button {
      text-transform: uppercase;
      background: #fff;
      color: black;
      text-decoration: none;
      border: 1px solid #000;
      padding: 9px 19px 9px 19px;
      font-size: 0.9rem;
      &:hover {
        background-color: #248a83;
        color: #fff;
        border: none;
      }
    }
  }
}
