/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
.site {
  .site-content {
    display: flex;
    max-width: 1120px;
    margin: 0 auto;
    margin-top: 100px;

    .entry-header {
      padding-top: 2rem;
      padding-right: 2rem;
    }

    .content-area {
      flex: 2;
    }
    .widget-area {
      flex: 1;
      padding: 20px;
    }
  }
  //-------------------------------//
  /* Front page */

  .home {
    .site {
      max-width: 90%;
    }
    .site-header {
      background-color: seagreen;
      padding: 1rem;
    }
  }
}
