/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
.container {
  width: 1120px;
  margin: 0 auto;
}

.site {
  .site-content {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6rem;
    width: 1120px;
  }
  .content-area {
    width: 100%;
  }

  .widget-area {
    width: 35%;
  }
}

//-----------------------------------------------//
//Archive page//

.blog {
  .comment-form-comment {
    textarea {
      width: 100%;
    }
  }
}

.archive {
  // .site-content {
  //   .content-area {
  //     padding-right: 0;
  //   }
  // }
  .page-header {
    h1 {
      text-align: start;
      font-family: 'Novecento Sans Web';
      letter-spacing: 2px;
    }
  }
  .content-area {
    padding-right: 5%;
    padding-top: 5%;
    margin: 0;
    padding-bottom: 4rem;
    .site-main {
      img {
        width: 1500px;
      }
    }
    .journal-content {
      position: relative;

      h2,
      .journal-date {
        position: absolute;
        background: #248a83;
        margin: 0;
        color: #fff;
        padding: 0.3rem 0.5rem;

        a {
          color: #fff;
          text-decoration: none;
          &:hover {
            color: #f0e4d1;
          }
        }
      }

      h2 {
        left: 0;
        top: 50px;
        font-size: 33px;
        max-width: 75%;
      }

      .journal-date {
        right: 0;
        bottom: 7px;
        text-transform: uppercase;
      }
    }
  }
  .button-journal {
    text-transform: uppercase;
    border: 1px solid #000;
    padding: 7px 17px 7px 17px;
    font-size: 0.9rem;
    width: fit-content;
    a {
      color: black;
      text-decoration: none;
    }
    &:hover {
      background-color: #248a83;
      border: none;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
//----------------------------
//404

.error404 {
  .site-content {
    .content-area {
      padding-bottom: 3rem;
      .page-header {
        border-bottom: none;
      }
    }
  }
  h1 {
    text-align: start;
    font-family: 'Novecento Sans Web';
    letter-spacing: 2px;
    font-size: 38px;
  }
  fieldset {
    border: none;
    padding: 0;
  }
  li {
    list-style-type: none;
  }
  ul {
    margin: 0;
    padding-inline-start: 0;
    font-family: 'Merriweather Web';
  }
  a {
    text-decoration: none;
    line-height: 1.75;
  }
}
//----------search results

.search-results {
  .site-content {
    .content-area {
      padding-bottom: 3rem;
      padding-right: 4rem;
      .page-header {
        border-bottom: 1px solid #e1e1e1;
      }
    }
  }
  h1 {
    text-align: start;
    font-family: 'Novecento Sans Web';
    letter-spacing: 2px;
    font-size: 38px;
  }
  h2 {
    font-family: 'Novecento Sans Web';
    letter-spacing: 2px;
    font-size: 33px;
  }
  a {
    text-decoration: none;
  }
  .entry-meta {
    font-family: 'Novecento Sans Web';
    text-transform: uppercase;
  }
  .button-journal {
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    border: 1px solid #000;
    padding: 7px 17px;
    font-size: 0.9rem;
  }
  .widget-area {
    h2 {
      font-size: 24px;
    }
  }
}
