.site-maine {
  margin-left: auto;
  margin-right: auto;
  width: 1120px;
  padding-top: 100px;
}

.page-header {
  color: #404040;
  border-bottom: 1px dashed #c8c8c8;
  text-align: center;

  .subtitle {
    font-family: 'Novecento Sans Web';
    font-size: 1rem;
    line-height: 1.75;
    font-size: 18px;
    text-decoration: none;
  }
  .title {
    margin: 0 auto;
    display: table;
  }
  .list-dot {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    width: 400px;
    margin: auto;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding-top: 3rem;

  .product-thumb {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
