.site-header {
  background-color: hsla(0, 0%, 100%, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 0.5rem 2rem 0.5rem 2rem;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  color: #248a83;
  display: flex;
  justify-content: center;
  font-family: 'Novecento Sans Web';
  font-size: 1.3rem;
  line-height: 1.75;
  text-transform: lowercase;
  padding-top: 3rem; //remove later
}

.main-navigation {
  display: flex;
  justify-content: flex-end;
  width: 70%;
  align-items: center;
}
.menu-item {
  margin-left: 10px;
}

.logoheader {
  width: 50px;
  justify-content: flex-start;
  // margin-left: 200px;
}

.faz {
  margin-left: 25px;
}
.search-form {
  fieldset {
    border: none;
  }
  input {
    background-color: #fff;
    border: none;
    font-family: 'Novecento Sans Web', sans-serif;
    text-transform: lowercase;
  }
}

//page about header

.page-id-8 {
  .site-header {
    background-color: rgba(247, 243, 243, 0.009);
    border-bottom: none;
    // a {
    //   &&:hover {
    //     color: blue;
    //   }
  }
}
