.site-header {
  background-color: hsla(0, 0%, 100%, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 0.5rem 2rem 0.5rem 2rem;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  color: #248a83;
  display: flex;
  justify-content: center;
  font-family: 'Novecento Sans Web';
  font-size: 1rem;
  line-height: 1.75;
  text-transform: lowercase;
  padding-top: 3rem; //remove later
}

.main-navigation {
  display: flex;
  justify-content: flex-end;
  width: 70%;
  align-items: center;
}
.menu-item {
  margin-left: 10px;
}

.logoheader {
  width: 50px;
  justify-content: flex-start;
  // margin-left: 200px;
}

.faz {
  margin-left: 25px;
}
